<ul class="post-list">
  <li>
    <h3>
      <a class="post-link" href="https://github.com/Marigian/marigian.github.io/blob/main/README.md">
        Marina Giannakakou  <!-- Display the member name -->
      </a>
    </h3>
  </li>
  <li>
    <h3>
      <a class="post-link" href="https://vagnta.github.io/Biografiko/">
        Evaggelos Ntaoutis  <!-- Display another member name -->
      </a>
    </h3>
  </li>
  <!-- Add more members as needed -->
  <li>
    <h3>
      <a class="post-link" href="https://pagiatis-spiros.github.io/">
        Pagiatis Spiros  <!-- Display the member name -->
      </a>
    </h3>
  </li>
  <li>
    <h3>
      <a class="post-link" href="https://github.com/Marigian/marigian.github.io/blob/main/README.md">
        Somebody 2  <!-- Display the member name -->
      </a>
    </h3>
  </li>
</ul>
