<ul class="post-list">
  <li>
    <h3>
      <a class="post-link" href="https://marigian.github.io/">
        Marina Giannakakou  <!-- Display the member name -->
      </a>
    </h3>
  </li>
  <li>
    <h3>
      <a class="post-link" href="https://vagnta.github.io/Biografiko/">
        Evaggelos Ntaoutis  <!-- Display another member name -->
      </a>
    </h3>
  </li>
  <!-- Add more members as needed -->
  <li>
    <h3>
      <a class="post-link" href="https://pagiatis-spiros.github.io/">
        Pagiatis Spiros  <!-- Display the member name -->
      </a>
    </h3>
  </li>
  <li>
    <h3>
      <a class="post-link" href="https://github.com/PapadoAndreas/PapadopoulosAndreas.github.io"> 
        Papadopoulos Andreas  <!-- Display the member name -->
      </a>
    </h3>
  </li>
  <li>
    <h3>
      <a class="post-link" href="https:somelinkhere">
        Somebody 0  <!-- Display the member name -->
      </a>
    </h3>
  </li>
  <li>
    <h3>
      <a class="post-link" href="https://vasiliskokkalis.github.io/VasilisKokkalis-CV.github.io/">
        Vasilis Kokkalis  <!-- Display the member name -->
      </a>
    </h3>
  </li>
  <li>
    <h3>
      <a class="post-link" href="https:somelinkhere">
        Somebody 2  <!-- Display the member name -->
      </a>
    </h3>
  </li>
  <li>
    <h3>
      <a class="post-link" href="https:somelinkhere">
        Somebody 3  <!-- Display the member name -->
      </a>
    </h3>
  </li>
  <li>
    <h3>
      <a class="post-link" href="https:somelinkhere">
        Somebody 4  <!-- Display the member name -->
      </a>
    </h3>
  </li>
  <li>
    <h3>
      <a class="post-link" href="https:somelinkhere">
        Somebody 5  <!-- Display the member name -->
      </a>
    </h3>
  </li>
</ul>
