<ul class="post-list">
  <li>
    <h3>
      <a class="post-link" href="https://marigian.github.io/">
        Marina Giannakakou <!-- Display the member name -->
      </a>
    </h3>
  </li>
  <li>
    <h3>
      <a class="post-link" href="https://vagnta.github.io/Biografiko/">
        Evaggelos Ntaoutis  <!-- Display another member name -->
      </a>
    </h3>
  </li>
  <!-- Add more members as needed -->
  <li>
    <h3>
      <a class="post-link" href="https://pagiatis-spiros.github.io/">
        Pagiatis Spiros  <!-- Display the member name -->
      </a>
    </h3>
  </li>
  <li>
    <h3>
      <a class="post-link" href="https://github.com/PapadoAndreas/PapadopoulosAndreas.github.io"> 
        Papadopoulos Andreas  <!-- Display the member name -->
      </a>
    </h3>
  </li>
  <li>
    <h3>
      <a class="post-link" href="https://vasiliskokkalis.github.io/VasilisKokkalis-CV.github.io/">
        Vasilis Kokkalis  <!-- Display the member name -->
      </a>
    </h3>
  </li>
  <li>
    <h3>
      <a class="post-link" href="https://ozagoras.github.io/odysseas_zagoras_cv/">
        Odysseas Zagoras  <!-- Display the member name -->
      </a>
    </h3>
  </li>
  <li>
    <h3>
      <a class="post-link" href="https://tpanagioto.github.io">
        Tasos Panagiotopoulos  <!-- Display the member name -->
      </a>
    </h3>
  </li>
  <li>
    <h3>
      <a class="post-link" href="https://github.com/apapost/biography/blob/main/%CE%91%CE%A0%CE%9F%CE%A3%CE%A4%CE%9F%CE%9B%CE%99%CE%94%CE%97%CE%A3%20%CE%91%CE%A0%CE%9F%CE%A3%CE%A4%CE%9F%CE%9B%CE%9F%CE%A3">
        Apostolos Apostolidis  <!-- Display the member name -->
      </a>
    </h3>
  </li>
  <li>
    <h3>
      <a class="post-link" href="https:somelinkhere">
        Somebody 3  <!-- Display the member name -->
      </a>
    </h3>
  </li>
  <li>
    <h3>
      <a class="post-link" href="https:somelinkhere">
        Somebody 4  <!-- Display the member name -->
      </a>
    </h3>
  </li>
  <li>
    <h3>
      <a class="post-link" href="https:somelinkhere">
        Somebody 5  <!-- Display the member name -->
      </a>
    </h3>
  </li>
</ul>
